<!DOCTYPE html>
<html>
    <head>
        <title>Fault Tree Analysis</title>
        <base href="https://gkevinb.github.io/MasterThesis" target="_blank">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <script src="/MasterThesis/static/js/jquery-3.3.1.js"></script>
        <link rel="stylesheet" type="text/css" href="/MasterThesis/static/css/style.css">
    </head>
    <body>
        <h1>Fault Tree Analysis</h1>

        <div id="original_fault_tree">
            <h2>Original Fault Tree</h2>
            <img src="/MasterThesis/static/images/Original_FT.png" alt="Original Fault Tree">

        </div>
        <div id="reconstructed_fault_tree">
            <h2>Reconstructed Fault Tree</h2>
            <img src="/MasterThesis/static/images/Reconstructed_FT.png" alt="Reconstructed Fault Tree">

        </div>

        <div id="minimal_cut_sets">
            <h3>Minimal Cut Sets</h3>
            <ul>
                {% for set in mcs %}
                <li>{{ set }} </li>
                {% endfor %}
            </ul>
        </div>

        <div id="event_board">
            <p>Event</p>
            <div id="events_bar">
                <form action="">
                    {% for event in orignal_events %}
                        {% if event.name == 'Basic Event 1' %}
                            <input type="radio" name="events" value="{{ event.name }}" checked="checked">{{ event.name }}<br>
                        {% else %}
                            <input type="radio" name="events" value="{{ event.name }}">{{ event.name }}<br>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
            <p>Metric</p>
            <div id="metric_bar">
                <form action="">
                    <input type="radio" name="metric" value="Reliability" checked="checked">Reliability<br>
                    <input type="radio" name="metric" value="Maintainability">Maintainability<br>
                </form>
            </div>
        </div>

        <div id="event_metrics">
            <h3 id="event_title">Basic Event 1</h3>
            <table>
                <tr>
                    <th>Fault Tree:</th>
                    <th>Original</th>
                    <th>Reconstructed</th>
                </tr>
                <tr>
                    <td>Reliability Distribution:</td>
                    <td id="oft_rel_dis"></td>
                    <td id="rft_rel_dis"></td>
                </tr>
                <tr>
                    <td>Maintainability Distribution:</td>
                    <td id="oft_main_dis"></td>
                    <td id="rft_main_dis"></td>
                </tr>
                <tr>
                    <td>Mean Time To Failures:</td>
                    <td id="oft_mtbf"></td>
                    <td id="rft_mtbf"></td>
                </tr>
                <tr>
                    <td>Mean Time To Repairs:</td>
                    <td id="oft_mtbr"></td>
                    <td id="rft_mtbr"></td>
                </tr>
                <tr>
                    <td>Operational Availability:</td>
                    <td></td>
                    <td id="oper_avail"></td>
                </tr>
            </table>
        </div>
        <img src="/MasterThesis/static/images/basic_event_1_Reliability.png" id="plot" alt="plot">
        <script type="text/javascript" src="/MasterThesis/static/js/script.js">
        </script>
    </body>
</html>