<!DOCTYPE html>
<html>

<head>
    <title>Fault Tree Analysis</title>
    <script src="/MasterThesis/Dashboard/js/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/MasterThesis/Dashboard/css/style.css">
</head>

<body>
    <div id="app">
        <h1>Fault Tree Analysis</h1>

        <div id="original_fault_tree">
            <h2>Original Fault Tree</h2>
            <img src="/MasterThesis/static/images/Original_FT.png" alt="Original Fault Tree">

        </div>
        <div id="reconstructed_fault_tree">
            <h2>Reconstructed Fault Tree</h2>
            <img src="/MasterThesis/static/images/Reconstructed_FT.png" alt="Reconstructed Fault Tree">

        </div>

        <div id="minimal_cut_sets">
            <h3>Minimal Cut Sets</h3>
            <ul v-for="set in MinimalCutSets">
                <li>{{ set }}</li>
            </ul>
        </div>

        <div id="event_board">
            <p>Event</p>
            <div id="events_bar">
                <form action="">
                    <template v-for="event in OriginalFaultTree">
                        <input type="radio" name="events" class="events" :value="event.name" @click="eventRadioButton(event.name)">{{ formatEventName(event.name) }}<br>
                    </template>
                </form>
            </div>
            <p>Metric</p>
            <div id="metric_bar">
                <form action="">
                    <input type="radio" name="metric" value="Reliability" @click="metricRadioButton('Reliability')" checked="checked">Reliability<br>
                    <input type="radio" name="metric" value="Maintainability" @click="metricRadioButton('Maintainability')">Maintainability<br>
                </form>
            </div>
        </div>

        <div id="event_metrics">
            <h3 id="event_title">Basic Event 1</h3>
            <table>
                <tr>
                    <th>Fault Tree:</th>
                    <th>Original</th>
                    <th>Reconstructed</th>
                </tr>
                <tr>
                    <td>Reliability Distribution:</td>
                    <td id="oft_rel_dis"></td>
                    <td id="rft_rel_dis"></td>
                </tr>
                <tr>
                    <td>Maintainability Distribution:</td>
                    <td id="oft_main_dis"></td>
                    <td id="rft_main_dis"></td>
                </tr>
                <tr>
                    <td>Mean Time To Failures:</td>
                    <td id="oft_mtbf"></td>
                    <td id="rft_mtbf"></td>
                </tr>
                <tr>
                    <td>Mean Time To Repairs:</td>
                    <td id="oft_mtbr"></td>
                    <td id="rft_mtbr"></td>
                </tr>
                <tr>
                    <td>Operational Availability:</td>
                    <td></td>
                    <td id="oper_avail"></td>
                </tr>
            </table>
        </div>
        <img src="/MasterThesis/static/images/basic_event_1_Reliability.png" id="plot" alt="plot">

    </div>
    <script type="text/javascript" src="/MasterThesis/Dashboard/js/script.js">
    </script>
</body>

</html>