<!DOCTYPE html>
<html>
    <head>
        <title>Fault Tree Analysis</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>

        <h1>Fault Tree Analysis</h1>
        <p>Metric</p>
        <div id="metric_bar">
            <form action="">
                    <input type="radio" name="metric" value="Reliability">Reliability<br>
                    <input type="radio" name="metric" value="Maintainability">Maintainability<br>
            </form>
        </div>
        <p>Event</p>
        <div id="events_bar">
            <form action="">
                {% for event in orignal_events %}
                    <input type="radio" name="events" value="{{ event.name }}">{{ event.name }}<br>
                {% endfor %}
            </form>
        </div>
        <div id="original_fault_tree">
            <img src="/static/images/Original_FT.png" alt="Original Fault Tree">

        </div>
        <div id="reconstructed_fault_tree">
            <img src="/static/images/Reconstructed_FT.png" alt="Reconstructed Fault Tree">

        </div>
        <div id="event_metrics">
            <h3 id="event_title">Basic Event 1</h3>
            <img src="/static/images/basic_event_1_Reliability.png" id="plot" alt="plot">
        </div>


        <script type="text/javascript" src="/static/js/script.js">
        </script>
    </body>
</html>